<div class="app-container" fxLayout="column">
    <mat-toolbar color="primary" fxLayout="row">

        <div class="title" fxFlex fxLayoutAlign="start">Trespass</div>

        <div class="loading" *ngIf="!(cadastreTilesLoaded$ | async)" fxFlex fxLayoutAlign="end">
            <mat-progress-spinner color="Accent" mode="indeterminate" value="50" [diameter]="35">
            </mat-progress-spinner>
        </div>

    </mat-toolbar>


    <main fxLayout="row" fxFlex>

        <app-map fxFlex></app-map>

    </main>

    <app-footer class="footer"></app-footer>

</div>