.app-container {
    height: 100vh;
}

header {
    background-color: var(--header-color);
    padding: 2em;
}
header .title {
    font-size: 28px;
}

.left-bar {
    background-color: var(--sidebar-color);
}

footer {
    background-color: var(--header-color);
    padding: 1em;
}
