@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
    font-family: "Roboto";
    color: var(--text-color);
    margin: 0;
    --header-color: rgb(250, 230, 190);
    --sidebar-color: rgb(250, 230, 190);
    --text-color: black;
}
html {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
    height: 100%;
}

.loading {
    text-align: center;
}

.mat-toolbar.mat-primary {
    background: rgb(250, 230, 190);
    color: black;
}

.footer {
    background-color: rgb(250, 230, 190);
    padding: 5px;
}
